.abstract {
  // border: solid 2px #ccc;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
}

.abstractTitle {
  font-style: italic;
  padding-bottom: 5px;
}

.published {
  padding-top: 5px;
  font-size: 0.75em;
  font-style: italic;
}
